<li id='{{id}}' class='gallery__item'>
  <a href='/' class='gallery__link'>
    <img src='{{poster_path}}' alt='{{title}}' class='gallery__img' />
    <h2 class='gallery__title'>{{title}}</h2>
    <div class='discription'><p
        class='gallery__discription'
      >{{release_date}}</p>
    </div>
  </a>
</li>